{% extends "base.html" %}

{% block content %}
{% if current_user.is_authenticated %}
    <a href="post" class="btn btn-secondary">Добавить новость</a>
{% endif %}
<h1>Pure CSS Masonry</h1>
<p>By using CSS3 columns, we can easily create a Masonry.js-like layout where random-height blocks fit together.</p>

<article>
    {% for item in posts %}
    <a href="#lightbox" data-toggle="modal" data-slide-to={{loop.index0}}>
  <section>
      <img src={{item.scaled_f_s_l}} height="100%" width="100%">
      </section>
    </a>
    {% endfor %}
</article>

<div class="modal fade and carousel slide" id="lightbox">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-body">
          <ol class="carousel-indicators">
              {% for item in posts %}
                <li data-target="#lightbox" data-slide-to={{loop.index0}} class="active"></li>
              {% endfor %}
          </ol>
          <div class="carousel-inner">
              {% for item in posts %}
                {% if loop.first %}
              {% set a = item.id %}
                    <div class="carousel-item active">
                        <p>{{a}}</p>
                      <img class="d-block img-fluid" src={{item.original_f_s_l}} alt={{loop.index0}}>
                        <a href="download/{{a}}" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">Скачать</a>
                        <a href="download/{{a}}" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">Скачать</a>
                    </div>
                {% else %}
              {% set a = item.id %}
                    <div class="carousel-item">
                        <p>{{a}}</p>
                      <img class="d-block img-fluid" src={{item.original_f_s_l}} alt={{loop.index0}}>
                        <a href="download/{{a}}" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">Скачать</a>
                        <a href="download/{{a}}" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">Скачать</a>
                    </div>
                {% endif %}
              {% endfor %}
          </div><!-- /.carousel-inner -->
          <a class="carousel-control-prev" href="#lightbox" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="sr-only">Previous</span>
          </a>
          <a class="carousel-control-next" href="#lightbox" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="sr-only">Next</span>
          </a>
            </div><!-- /.modal-body -->
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->

{% endblock %}