{% extends "base.html" %}

{% block content %}
<form method=post enctype=multipart/form-data>
    {% if title == 'Редактирование поста' %}
        <img src=/{{post.scaled_f_s_l}} alt={{post.id}}>
    {% else %}
    <input type=file name=file>
    {% endif %}
 <p>
        {{ form.tegs.label }}<br>
        {{ form.tegs(class="form-control") }}<br>
        {% for error in form.tegs.errors %}
            <p class="alert alert-danger" role="alert">
                {{ error }}
            </p>
        {% endfor %}
    </p>
 <p>
        {{ form.about.label }}<br>
        {{ form.about(class="form-control") }}<br>
        {% for error in form.about.errors %}
            <p class="alert alert-danger" role="alert">
                {{ error }}
            </p>
        {% endfor %}
    </p>
 <input type=submit value=Сохранить>
 </form>
{% endblock %}